* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  color: #5b5b5b;
  background: #ffffff;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

header {
  background: url(../media/images/background.png) center center no-repeat;
  text-align: center;
  background-size: cover;
  padding: 110px 75px;
}

header img {
  max-width: 100%;
}

main {
  padding: 110px 25px;
  text-align: center;
  display: block;
}

@media screen and (max-width: 768px) {
  header {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

@media screen and (max-width: 576px) {
  main h1 {
    font-size: 30px;
  }

  main p {
    font-size: 20px;
  }
}
